<ul>
  <li>akane</li>
  <li>program</li>
  <li>family</li>
</ul>

    <header>
      <!--container-->
      <div class="container">
        <div class="header-left">
          <img class="logo" src="images/yoshito.png">
        </div>
        <div class="header-right">
          <a href="price.html" class="login">料金</a>
        </div>
        <div class="header-right">
          <a href="service.html" class="login">学習内容</a>
        </div>
        </div>
        <div class="header-right">
          <a href="lesson.html" >本レッスンの特徴</a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>転職を繰り返して辿り着いた場所</h1>
        <p>目指せ、自由な生活！充実した人生！！</p>
        <p>お互いを支え合いながら素敵なhappy life♪</p>
        <p class="test">テスト</p>
        <p>画像添付</p>
      </div>
    </div>
    <div class="lesson-wrapper">
    </div>
    <div class="message-wrapper">
    </div>
    <footer>
      <!-- <div>要素を追加し、「footer-list」というclassをつけてください -->
      <div class=footer-list>
        <ul>
          <li>デザイン</li>
          <li>ツイート</li>
          <li>お問い合わせ</li>
        </ul>
        
      </div>
    </footer>
